<ion-view view-title="What's on now">
  <ion-content>
      <ion-list>
        <ion-item>
          <ion-avatar item-left>
            <ion-icon name="home"></ion-icon>
          </ion-avatar>
          <h2>@ Barn</h2>
          <h3>Music Act 1 (until 21:00)</h3>
          <p>Indie rock band that plays really well.</p>
        </ion-item>
        <ion-item>
          <ion-avatar item-left>
            <ion-icon name="bonfire"></ion-icon>
          </ion-avatar>
          <h2>@ Field</h2>
          <h3>Music Act 2 (until 21:00)</h3>
          <p>Indie rock band that plays so so.</p>
        </ion-item>
        <ion-item>
          <ion-avatar item-left>
            <ion-icon name="bug"></ion-icon>
          </ion-avatar>
          <h2>@ Ditch</h2>
          <h3>Music Act 3 (until 21:00)</h3>
          <p>Indie rock band that really shouldn't call itself a band.</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
