<ion-view view-title="Schedule">
  <ion-content>
    <ion-tabs class="">
      <ion-tab title="Friday">
        <ion-list>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="microphone"></ion-icon>
            </ion-avatar>
            <h2>Music Act 1</h2>
            <h3>20:00 - 21:00 @ Barn</h3>
            <p>Indie rock band that plays really well.</p>
          </ion-item>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="musical-notes"></ion-icon>
            </ion-avatar>
            <h2>Music Act 2</h2>
            <h3>20:00 - 21:00 @ Field</h3>
            <p>Indie rock band that plays so so.</p>
          </ion-item>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="musical-note"></ion-icon>
            </ion-avatar>
            <h2>Music Act 3</h2>
            <h3>20:00 - 21:00 @ Ditch</h3>
            <p>Indie rock band that really shouldn't call itself a band.</p>
          </ion-item>
        </ion-list>
      </ion-tab>

      <ion-tab title="Saturday">
        <ion-list>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="bonfire"></ion-icon>
            </ion-avatar>
            <h2>Folk Act 1</h2>
            <h3>20:00 - 21:00 @ Barn</h3>
            <p>Folk duo that plays really well.</p>
          </ion-item>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="bug"></ion-icon>
            </ion-avatar>
            <h2>Folk Act 2</h2>
            <h3>20:00 - 21:00 @ Field</h3>
            <p>Folk trio that plays so so.</p>
          </ion-item>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="cloudy-night"></ion-icon>
            </ion-avatar>
            <h2>Folk Act 3</h2>
            <h3>20:00 - 21:00 @ Ditch</h3>
            <p>A folk. Don't really play anything.</p>
          </ion-item>
        </ion-list>
      </ion-tab>

      <ion-tab title="Sunday">
        <ion-list>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="alert"></ion-icon>
            </ion-avatar>
            <h2>Random Act 1</h2>
            <h3>20:00 - 21:00 @ Barn</h3>
            <p>We can be stressed about things.</p>
          </ion-item>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="aperture"></ion-icon>
            </ion-avatar>
            <h2>Random Act 2</h2>
            <h3>20:00 - 21:00 @ Field</h3>
            <p>Ran out of icons to add.</p>
          </ion-item>
          <ion-item>
            <ion-avatar item-left>
              <ion-icon name="bulb"></ion-icon>
            </ion-avatar>
            <h2>Random Act 3</h2>
            <h3>20:00 - 21:00 @ Ditch</h3>
            <p>A really good idea.</p>
          </ion-item>
        </ion-list>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
