<ion-view view-title="Schedule">
  <ion-content>
    <ion-tabs class="">
      <!-- This should work but it looks like there is a bug with ion-tab + ng-repeat. -->
      <!--<ion-tab ng-repeat="day in ['Friday', 'Saturday', 'Sunday']" title="{{day}}">
        <ion-list>
          <ion-item ng-repeat="schedule in schedules[day]" ng-click="showScheduleOptions(schedule.id);">
            <ion-avatar item-left>
              <ion-icon name="{{schedule.icon}}"></ion-icon>
            </ion-avatar>
            <h2>{{schedule.name}}</h2>
            <h3>{{schedule.startTime}} - {{schedule.endTime}} @ {{schedule.location}}</h3>
            <p>{{schedule.description}}</p>
          </ion-item>
        </ion-list>
      </ion-tab>-->

      <ion-tab title="Friday">
        <ion-list>
          <ion-item ng-repeat="schedule in schedules['Friday']" ng-click="showScheduleOptions(schedule.id);">
            <ion-avatar item-left>
              <ion-icon name="{{schedule.icon}}"></ion-icon>
            </ion-avatar>
            <ion-card>
                <img ng-src='{{schedule.bandPic}}'/>
                <ion-card-content>
                  <ion-card-title>{{schedule.name}}</ion-card-title>
                  <h3>{{schedule.startTime}} - {{schedule.endTime}} @ {{schedule.location}}</h3>
                  <p>{{schedule.description}}</p>
                </ion-card-content>
              </ion-card>
          </ion-item>
        </ion-list>
      </ion-tab>

      <ion-tab title="Saturday">
        <ion-list>
          <ion-item ng-repeat="schedule in schedules['Saturday']" ng-click="showScheduleOptions(schedule.id);">
            <ion-avatar item-left>
              <ion-icon name="{{schedule.icon}}"></ion-icon>
            </ion-avatar>
            <ion-card>
                <img ng-src="{{schedule.bandPic}}"/>
                <ion-card-content>
                  <ion-card-title>{{schedule.name}}</ion-card-title>
                  <h3>{{schedule.startTime}} - {{schedule.endTime}} @ {{schedule.location}}</h3>
                  <p>{{schedule.description}}</p>
                </ion-card-content>
              </ion-card>
          </ion-item>
        </ion-list>
      </ion-tab>

      <ion-tab title="Sunday">
        <ion-list>
          <ion-item ng-repeat="schedule in schedules['Sunday']" ng-click="showScheduleOptions(schedule.id);">
            <ion-avatar item-left>
              <ion-icon name="{{schedule.icon}}"></ion-icon>
            </ion-avatar>
            <ion-card>
                <img ng-src="{{schedule.bandPic}}"/>
                <ion-card-content>
                  <ion-card-title>{{schedule.name}}</ion-card-title>
                  <h3>{{schedule.startTime}} - {{schedule.endTime}} @ {{schedule.location}}</h3>
                  <p>{{schedule.description}}</p>
                </ion-card-content>
              </ion-card>
          </ion-item>
        </ion-list>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>