<ion-view view-title="Welcome">
  <ion-content>
    <div class="row">
      <div class="col">
        <a href="#/app/map" class="no-underline"
            ion-track-tap="{{ANALYTICS_EVENTS.OPEN_MAP}}"
            ion-track-data="{ from: 'Welcome', isAuthenticated: isAuthenticated, username: loginData.username }">
          <div class="list card">
            <div class="item item-image">
              <i class="icon ion-map large"></i>
            </div>
            <div class="item item-body">
              <h2 class="text-center">Map</h2>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col">
        <a href="#/app/schedule" class="no-underline"
            ion-track-tap="{{ANALYTICS_EVENTS.OPEN_SCHEDULE}}"
            ion-track-data="{ from: 'Welcome', isAuthenticated: isAuthenticated, username: loginData.username }">
          <div class="list card">
            <div class="item item-image">
              <i class="icon ion-ios-calendar-outline large"></i>
            </div>
            <div class="item item-body">
              <h2 class="text-center">Schedule</h2>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/app/onnow" class="no-underline"
            ion-track-tap="{{ANALYTICS_EVENTS.OPEN_ONNOW}}"
            ion-track-data="{ from: 'Welcome', isAuthenticated: isAuthenticated, username: loginData.username }">
          <div class="list card">
            <div class="item item-image">
              <i class="icon ion-arrow-shrink large"></i>
            </div>
            <div class="item item-body">
              <h2 class="text-center">What's on now</h2>
            </div>
          </div>
        </a>
      </div>
      
      <div class="col">
        <a href="#/app/account" class="no-underline"
            ion-track-tap="{{ANALYTICS_EVENTS.OPEN_ACCOUNT}}"
            ion-track-data="{ from: 'Welcome', isAuthenticated: isAuthenticated, username: loginData.username }">
          <div class="list card">
            <div class="item item-image">
              <i class="icon ion-person large"></i>
            </div>
            <div class="item item-body">
              <h2 class="text-center">My account</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
